body {
  font-family: sans-serif;
  background-color: #000;
}

.container {
  width: 100%;
  height: auto;
  background-color: #000;
  margin: 0 auto;
}

.message-div {
  display: none;
  flex-direction: column;
  /* background-color: #fff; */
  position: absolute;
  bottom: 0;
  max-height: 40%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.chat-message-list {
  max-width: 50%;
  margin: 0;
  padding: 0;
  background-color: #00000014;
  overflow-y: scroll;
}

ul.striped-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.striped-list > li {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.74);
  color: white;
  padding: 6px;
  font: message-box;
}

.chat-div {
  width: 100%;
}

input.chat-input::placeholder {
  /* text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.74); */
  color: #040000;
  opacity: 1; /* Firefox */
}

input.chat-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  /* text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.74); */
  color: #040000;
}

input.chat-input::-ms-input-placeholder {
  /* Microsoft Edge */
  /* text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.74); */
  color: #040000;
}
input.chat-input {
  margin: 2px 0;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #040000;
  background-color: #f9f7f73d;
  width: 70%;
  outline: none;
}

button.chat-send-button {
  width: 30%;
  padding: 5px;
  margin: 2px 0;
  border: none;
  border-bottom: 2px solid #040000;
  border-left: 2px solid #040000;
  background-color: #f9f7f73d;
  outline: none;
}

.video-container1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 600px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
  padding: 0;
}

.video-container1 .video1 {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  padding: 0;
  transform: rotateY(180deg) translate(25%, 0%);
  -webkit-transform: rotateY(180deg) translate(25%, 0%);
  -moz-transform: rotateY(180deg) translate(25%, 0%);
}

.video-container2, .video-container3 {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  min-width: 40%;
  min-height: 40%;
  overflow: hidden;
  z-index: 2;
}
.video-container3 {
  right: 0;
}

.video-container2 .video2{
  float: left;
  transition: ease-in;
}
.video-container3 .video2{
  float: right;
  transition: ease-in;
}

.video-container1 .video2 {
  max-width: 100px;
  height: auto;
  padding: 0;
  margin: 0;
}

.control {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}

.timer {
  display: none;
  justify-content: center;
  position: absolute;
  top: 30px;
  width: 100%;
  overflow: hidden;
  background-color: #00000014;
  z-index: 3;
}

.minutes, .seconds, .colon {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.74);
  color: white;
  padding: 3px;
  font: message-box;
}

#closeButton {
  display: none;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-close {
  background: #e61d1d;
  color: white;
}

/* video {
  width: 100%;
  height: auto;
} */

.page {
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 4;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title,
.login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

@media only screen and (min-width: 800px) {

  .video-container1 {
    max-width: 600px;
    min-width: 600px;
    height: 100%;
  }

  .video-container1 .video1 {
    min-width: 800px;
    min-height: 100%;
  }

  .video-container1 .video2 {
    max-width: 230px;
    height: auto;
  }

}
